In [1]:
for a in 'pakistan':
    print(a)

p
a
k
i
s
t
a
n

In [2]:
for num in range(10):
    print(num, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [13]:
num = int (input('Enter any number'))
for x in range (11):
    print(f'{num} x {x} = {num * x}')

Enter any number2
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [14]:
for num in range(0,25,2):
    print(num)

0
2
4
6
8
10
12
14
16
18
20
22
24

In [15]:
for num in range(25,0,-1):
    print(num)

25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [27]:
num = int (input('Enter any number '))
for x in range (1,11):
    if x % 2 == 0:
        continue
    else:
        print(f'{num} x {x} = {num * x}')

Enter any number 2
2 x 1 = 2
2 x 3 = 6
2 x 5 = 10
2 x 7 = 14
2 x 9 = 18

In [25]:
num = int (input('Enter any number '))
for x in range (1,11):
    if x % 2 == 0:
        break
    else:
        print(f'{num} x {x} = {num * x}')

Enter any number 4
4 x 1 = 4

In [30]:
name = []
for x in range(10):
    get = input('enter name? ')
    if get.startswith('A'):
        continue
    else:
        name.append(get)
name

enter name? aslkd
enter name? Asdfr
enter name? gsdf
enter name? rete
enter name? fg
enter name? rg
enter name? hfh
enter name? rsg
enter name? bgn
enter name? gdsg

['aslkd', 'gsdf', 'rete', 'fg', 'rg', 'hfh', 'rsg', 'bgn', 'gdsg']

In [29]:
name

['gone',
 'falkd',
 'repo',
 'fdas',
 'asde',
 'Asdf',
 'gdsfrt',
 'fsdf',
 'vfdfg',
 'ewrsd']

In [33]:
for x in range(2,11):
    for y in range(11):
        print(f'{x} x {y} = {x * y}')
    print(' ')

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 0 = 0
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [34]:
a = [1,2,3,4,5,6,7,8,9,0]
sqr = []
for num in a:
    sqr.append(num**2)
print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 0]

In [35]:
[ num**2 for num in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
[ num**2 for num in range(1,10) if num>4]

[25, 36, 49, 64, 81]