# First class

asdf asdhf sa fsfhiaohf afa sdfahf afasdifhaoshaw hugrh

# afdsah a;hsd lashdf a;hf ads

In [1]:
print(123)

123

In [2]:
print('ahfd')

ahfd

In [3]:
tm = 432
print(tm)

432

In [5]:
tm = 'hello world'
print(tm)

hello world

In [7]:
print(1234,'fsadjlj',543.3453,True)

1234 fsadjlj 543.3453 True

In [8]:
tm = True
print(tm)

True

In [9]:
print('jsafdf','sadfhf','jsjbfkafk', sep='#')

jsafdf#sadfhf#jsjbfkafk

In [10]:
print('jsafdf','sadfhf','jsjbfkafk')

jsafdf sadfhf jsjbfkafk

In [11]:
print('wert','afsfd', end = "")
print('wert','afsfd', end = "")
print('wert','afsfd', end = "")

wert afsfdwert afsfdwert afsfd

In [12]:
tm = "sfsgsdg"

In [13]:
print(tm)

sfsgsdg

In [14]:
id(tm)

2314596527496

In [15]:
_name = 'eags'

In [16]:
_ = 'llfsdgs'

only underscore is allowed in variable name

In [17]:
x = 1234

In [18]:
x

1234

In [19]:
x + 2

1236

In [20]:
x

1234

In [21]:
x += 2

In [22]:
x

1236

In [23]:
x = 10

# Concatenation

In [24]:
x = 2
y = '2'
z = x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
z = str(x) + y
z

'22'

In [27]:
z = x + int(y)
z

4

In [29]:
age = 30
name = 'foo'
print('my name is ' + name + 'and my age is ' + str(age))

TypeError: 'str' object is not callable

In [1]:
age = 30
name = 'foo'
print('my name is ' + name + 'and my age is ' + str(age))

my name is fooand my age is 30

In [2]:
age = input('Enter age')
name = input('enter name')
print('my name is ' + name + 'and my age is ' + str(age))

Enter age43
enter namebar
my name is barand my age is 43

In [3]:
age = input('Enter age')
name = input('enter name')
print('my name is {} and my age is {}'.format(name, age)) #{} placeholer

Enter age543
enter namebare
my name is bare and my age is 543

In [4]:
age = input('Enter age')
name = input('enter name')
print('my name is {1} and my age is {0}'.format(name, age)) #{} placeholer

Enter age34
enter nametre
my name is 34 and my age is tre

In [5]:
age = input('Enter age')
name = input('enter name')
print(f'my name is {name} and my age is {age}') #f format

Enter age532
enter namefasd
my name is fasd and my age is 532